body {
	padding-top: 70px;
}

.panel {
    font-weight: 400;
    font-family: franklin-gothic-urw,Helvetica,Arial,sans-serif;
}

.panel-heading {
    font-size: 16px;
}

.panel-heading-icon a {
    padding: 9px;
    color: #337ab7;
}

.panel-heading-icon a:hover, .panel-body-icon a:hover, #side-open-icon:hover {
	text-decoration: none;
    cursor: pointer;
    color: #67babe;
    background-color: #e1f1f2;
    -webkit-transition: background-color 1s; /* Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.panel-body-icon a {
    padding: 7px;
    color: #337ab7;
    font-weight: bold;
}

.panel-heading-icon {
    text-align: right;
}

.panel-heading, .panel-body {
    padding: 16px 24px;
}

.panel-body-row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-body-row-2 {
    margin-bottom:10px;
}

.label-text {
    font-weight: bold;
}

.label-text-2{
    color: #777;
}

.content-text {
    color: #444;
}

.delete-confirm {
	padding: 20px;
	margin: 30px auto;
}


/* The side navigation menu */
#side-open-icon {
    margin-left: 10px;
    padding: 15px;
    font-size: 25px;
}

#sideNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #d1d3d6; /* gray */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* Position and style the close button (top right corner) */
#side-close-icon {
/*    position: absolute;
    top: 50px;
    right: 10px;*/
    font-size: 36px;
    margin-right: 10px;
}

#side-close-icon:hover {
    text-decoration: none;
    cursor: pointer;
    color: #67babe;
}

#sideNav-controls {
    text-align: right;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 10px;
}

#sideSearchInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
/*    margin-top: 30px;*/
}

#sideUl {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sideUl li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 16px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#sideUl li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#sideUl li a:hover:not(.header):not(.active) {
    background-color: #eee; /* Add a hover effect to all links, except for headers and actives */
}

#sideUl li a.active {
    background-color: #e2e2e2;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
/*    .sidenav {padding-top: 15px;}*/
    #sideUl li a {font-size: 12px;}
}
